.home-container {
    background: #fffcfc;
    width: 100%;
    height: 698px;
}

.home-content {
    background: #ffffff;
    width: 99%;
    height: 640px;
    margin: 120px 0px;
} 

.text-title {
    color: #062847;
    margin: 20px;
    padding-left: 20px;
}

.text-subtitle {
    font-size: 20px;
    margin: 20px;
    line-height: 180%;
    padding-left: 20px;
    /* or 180% */
    color: #5A6774;
}
  .btn {
    border-radius: 4px;
    font-size: 97%;
    width: 101px;
    height: 40px;
    background-color: #1890FF;
    border: none;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
    
  }
  .btn:hover {border-style: none; opacity: 1}

  .div-btn{
    margin: 20px;
    padding-left: 45px;

  }