.nav-bar{
    background: #1890FF;
    position: absolute;
    width: 100%;
    height: 62px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.col-1 {
    position: absolute;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    width: 248px;
    margin-left: 20px;

}